{
  "extends": "airbnb",
  "rules": {
    "no-plusplus": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": "off"
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "babel"
  ]
}
